# 1. 데이터 정보 확인

In [2]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

PATH='C:/Users/castl/Desktop/2020_job_academy/project/lg_sys/'
f_err=pd.read_csv(PATH+'train_err_data.csv')
f_prob=pd.read_csv(PATH+'train_problem_data.csv')
f_qual=pd.read_csv(PATH+'train_quality_data.csv')

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (10,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
f_err.head(5)

   user_id            time model_nm       fwver  errtype errcode
0    10000  20201101025616  model_3  05.15.2138       15       1
1    10000  20201101030309  model_3  05.15.2138       12       1
2    10000  20201101030309  model_3  05.15.2138       11       1
3    10000  20201101050514  model_3  05.15.2138       16       1
4    10000  20201101050515  model_3  05.15.2138        4       0

In [4]:
f_prob.head(5)

   user_id            time
0    19224  20201102200000
1    23664  20201116140000
2    15166  20201114130000
3    12590  20201108210000
4    15932  20201103210000

In [5]:
f_qual.head(5)

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
1,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
2,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
3,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
4,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0

In [6]:
f_err.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16554663 entries, 0 to 16554662
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   time      int64
 2   model_nm  object
 3   fwver     object
 4   errtype   int64
 5   errcode   object
dtypes: int64(3), object(3)
memory usage: 757.8+ MB

In [7]:
# null값 확인
# errcode가 null값이 있다는 것 확인

f_err.isna().any()

user_id     False
time        False
model_nm    False
fwver       False
errtype     False
errcode      True
dtype: bool

In [8]:
# null값은 1개 인것 확인, 전처리에서 null값 처리 예정
f_err['errcode'].isna().sum()

1

In [9]:
# 각 feature마다 unique값 및 갯수 확인
for i in f_err.columns:
    print(i,'\n')
    print(f_err[i].unique(),'\n',len(f_err[i].unique()))

user_id

[10000 10001 10002 ... 24997 24998 24999]
 15000
time

[20201101025616 20201101030309 20201101050514 ... 20201118123022
 20201129070715 20201129070741]
 2566163
model_nm

['model_3' 'model_2' 'model_0' 'model_1' 'model_7' 'model_4' 'model_5'
 'model_8' 'model_6']
 9
fwver

['05.15.2138' '04.33.1185' '04.33.1261' '04.22.1750' '04.22.1778'
 '04.16.3553' '04.33.1149' '04.16.3571' '05.66.3237' '05.66.3571'
 '03.11.1149' '04.22.1684' '03.11.1167' '04.82.1684' '04.82.1778'
 '04.33.1171' '04.73.2237' '10' '04.82.1730' '04.73.2571' '8.5.3'
 '04.22.1666' '03.11.1141' '05.15.2120' '04.33.1125' '04.16.3439'
 '04.22.1442' '04.33.1095' '04.16.3569' '05.15.2090' '05.15.3104'
 '05.15.2122' '04.22.1656' '04.16.2641' '05.15.2114' '04.16.3345'
 '05.15.2092']
 37
errtype

[15 12 11 16  4 26 10 14  3 13  6  7 27 28 31 33 22 41  5 40 34 37 36 23
 18 20 19 21 42 24 25 17 38 39 35 32 30  2  1  9  8]
 41
errcode

['1' '0' '2' ... '4526' '3965' '25999']
 2806

### f_err 파일

- user_id는 10000번부터 24999까지 15000개인것 확인
- time은 년/월/시/분/초 로 구성되어있어 datetime 전처리 예정
- model은 0번부터 8번까지 9가지 존재
- fwver 37개 존재
- errtype은 1번부터 42번까지 29번을 제외한 41개 존재
- errcode는 2806개 존재
- errcode에서 null값 1개 확인, null값 수정 혹은 삭제 예정

In [10]:
f_prob.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5429 entries, 0 to 5428
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  5429 non-null   int64
 1   time     5429 non-null   int64
dtypes: int64(2)
memory usage: 85.0 KB

In [11]:
f_prob.isna().any()

user_id    False
time       False
dtype: bool

In [12]:
for i in f_prob.columns:
    print(i,'\n')
    print(f_prob[i].unique(),'\n',len(f_prob[i].unique()))

user_id

[19224 23664 15166 ... 19114 21505 18822]
 5000
time

[20201102200000 20201116140000 20201114130000 20201108210000
 20201103210000 20201119150000 20201121110000 20201111160000
 20201118120000 20201127230000 20201117120000 20201129110000
 20201119180000 20201112150000 20201116150000 20201130160000
 20201130220000 20201118220000 20201104160000 20201118200000
 20201130120000 20201127170000 20201121220000 20201102110000
 20201102130000 20201113190000 20201102170000 20201120190000
 20201114010000 20201124160000 20201109110000 20201107120000
 20201116160000 20201124150000 20201102120000 20201127120000
 20201123150000 20201104130000 20201126200000 20201106180000
 20201109210000 20201126150000 20201127150000 20201121170000
 20201124120000 20201121150000 20201116200000 20201109150000
 20201109140000 20201103180000 20201126110000 20201107230000
 20201110170000 20201123120000 20201119220000 20201110110000
 20201117130000 20201109200000 20201116120000 20201113230000
 20201107180000 20201121210000 20201126190000 20201116180000
 20201124110000 20201126130000 20201112190000 20201102190000
 20201113120000 20201111150000 20201117190000 20201113130000
 20201114230000 20201111140000 20201118000000 20201121120000
 20201117200000 20201105130000 20201109160000 20201120150000
 20201122190000 20201115050000 20201126120000 20201125180000
 20201106010000 20201111120000 20201123230000 20201119110000
 20201112200000 20201105000000 20201114000000 20201121000000
 20201109220000 20201113170000 20201112180000 20201130190000
 20201110160000 20201128130000 20201105180000 20201127110000
 20201128140000 20201113180000 20201118180000 20201119190000
 20201126180000 20201130200000 20201107210000 20201126160000
 20201113160000 20201114110000 20201104190000 20201124230000
 20201106190000 20201118160000 20201104180000 20201125150000
 20201111110000 20201102140000 20201105120000 20201121140000
 20201102150000 20201125010000 20201109130000 20201118130000
 20201104120000 20201111130000 20201116220000 20201121160000
 20201123180000 20201127130000 20201109170000 20201119120000
 20201123160000 20201125170000 20201104150000 20201117140000
 20201114140000 20201120110000 20201116190000 20201102160000
 20201130130000 20201119160000 20201101190000 20201109120000
 20201117150000 20201117090000 20201103190000 20201130180000
 20201103150000 20201102180000 20201116170000 20201122170000
 20201124210000 20201112120000 20201127160000 20201109190000
 20201127200000 20201119210000 20201125130000 20201106120000
 20201104230000 20201103170000 20201123220000 20201109230000
 20201120200000 20201120210000 20201125210000 20201106150000
 20201120140000 20201110190000 20201123110000 20201124180000
 20201117210000 20201104220000 20201129170000 20201118170000
 20201106170000 20201110230000 20201103160000 20201118110000
 20201125200000 20201128210000 20201126000000 20201119140000
 20201114180000 20201102220000 20201104170000 20201116130000
 20201124000000 20201103140000 20201128190000 20201128220000
 20201125120000 20201124190000 20201111200000 20201120120000
 20201127190000 20201108200000 20201111170000 20201123130000
 20201120220000 20201119130000 20201119170000 20201117180000
 20201108230000 20201125110000 20201130140000 20201124200000
 20201113000000 20201128110000 20201106140000 20201110150000
 20201111190000 20201106130000 20201108180000 20201105210000
 20201116110000 20201115200000 20201114200000 20201109020000
 20201129120000 20201105160000 20201120130000 20201121200000
 20201111180000 20201106110000 20201120230000 20201113150000
 20201115150000 20201130150000 20201125230000 20201130110000
 20201120160000 20201125000000 20201123010000 20201103120000
 20201126140000 20201105150000 20201115230000 20201106230000
 20201120170000 20201104210000 20201110140000 20201121020000
 20201117230000 20201112160000 20201114210000 20201105110000
 20201112110000 20201112210000 20201123190000 20201108170000
 20201122130000 20201129230000 20201109180000 20201126170000
 20201121190000 20201118150000 20201123140000 20201125160000
 20201101120000 20201110120000 20201128170000 20201115180000
 20201125190000 20201127140000 20201114150000 20201128150000
 20201107200000 20201104140000 20201102210000 20201130170000
 20201121010000 20201107130000 20201108120000 20201108160000
 20201106210000 20201101140000 20201127180000 20201103110000
 20201104200000 20201110180000 20201124130000 20201104110000
 20201105190000 20201124170000 20201128160000 20201112170000
 20201105220000 20201105140000 20201119000000 20201127210000
 20201114170000 20201103230000 20201124220000 20201125140000
 20201103130000 20201108010000 20201113220000 20201106000000
 20201113110000 20201126230000 20201108100000 20201117160000
 20201105170000 20201122010000 20201109010000 20201127220000
 20201123200000 20201117010000 20201118010000 20201101130000
 20201128180000 20201114160000 20201117170000 20201121130000
 20201120010000 20201120180000 20201107110000 20201122200000
 20201115220000 20201101160000 20201117110000 20201127010000
 20201122140000 20201129140000 20201105230000 20201125220000
 20201130210000 20201111220000 20201129150000 20201110130000
 20201110210000 20201117220000 20201102000000 20201110000000
 20201122150000 20201108130000 20201107190000 20201106220000
 20201129130000 20201129040000 20201128000000 20201101210000
 20201101220000 20201118140000 20201103220000 20201112130000
 20201130230000 20201114120000 20201123170000 20201107160000
 20201126220000 20201101000000 20201117000000 20201107140000
 20201107220000 20201120090000 20201110200000 20201115120000
 20201124140000 20201119200000 20201115140000 20201101150000
 20201119230000 20201115130000 20201102230000 20201118190000
 20201101170000 20201120020000 20201106200000 20201110220000
 20201129190000 20201118210000 20201122210000 20201129200000
 20201111090000 20201123210000 20201130010000 20201104000000
 20201129010000 20201101110000 20201111210000 20201114190000
 20201101010000 20201116210000 20201113200000 20201126210000
 20201115190000 20201112140000 20201128120000 20201120000000
 20201121230000 20201122160000 20201115020000 20201115110000
 20201118230000 20201122110000 20201103080000 20201103040000
 20201107010000 20201110010000 20201112220000 20201101180000
 20201129090000 20201122120000 20201129180000 20201129000000
 20201112230000 20201106160000 20201122080000 20201128230000
 20201111000000 20201107000000 20201111230000 20201108110000
 20201122230000 20201108220000 20201108000000 20201119010000
 20201113140000 20201122220000 20201121180000 20201101020000
 20201128010000 20201107170000 20201112100000 20201105200000
 20201108190000 20201101200000 20201112000000 20201103200000
 20201113210000 20201107150000 20201101230000 20201104020000
 20201126010000 20201101090000 20201124010000 20201104010000
 20201122000000 20201127000000 20201103000000 20201108140000
 20201128200000 20201116100000 20201115170000 20201114030000
 20201115040000 20201123100000 20201129210000 20201129160000
 20201102100000 20201126030000 20201109090000 20201114050000
 20201114220000 20201126020000 20201114100000 20201129220000
 20201115210000 20201120100000 20201115160000 20201123070000
 20201111010000 20201103030000 20201120060000 20201126080000
 20201130000000 20201113010000 20201122180000 20201116230000
 20201108090000 20201113100000 20201115000000 20201116000000
 20201109000000 20201105100000 20201108150000 20201110030000
 20201118100000 20201112080000 20201120050000 20201115010000
 20201116020000 20201121080000 20201119050000 20201122050000]
 488

### f_prob파일

- null값 없음
- 불만 접수된 서로 다른 user_id는 5000개
- 서로다른 시간대는 년/월/시/분/초 로 datetime 전처리 예정, 총 488개

In [13]:
f_qual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 828624 entries, 0 to 828623
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time        828624 non-null  int64
 1   user_id     828624 non-null  int64
 2   fwver       788544 non-null  object
 3   quality_0   684192 non-null  float64
 4   quality_1   828624 non-null  int64
 5   quality_2   788511 non-null  float64
 6   quality_3   828624 non-null  int64
 7   quality_4   828624 non-null  int64
 8   quality_5   828604 non-null  object
 9   quality_6   828624 non-null  int64
 10  quality_7   828624 non-null  object
 11  quality_8   828624 non-null  object
 12  quality_9   828624 non-null  object
 13  quality_10  828624 non-null  object
 14  quality_11  828624 non-null  int64
 15  quality_12  828624 non-null  int64
dtypes: float64(2), int64(8), object(6)
memory usage: 101.2+ MB

In [14]:
#null값 확인
f_qual.isna().any()

time          False
user_id       False
fwver          True
quality_0      True
quality_1     False
quality_2      True
quality_3     False
quality_4     False
quality_5      True
quality_6     False
quality_7     False
quality_8     False
quality_9     False
quality_10    False
quality_11    False
quality_12    False
dtype: bool

In [15]:
for i in f_qual.columns:
    if f_qual[i].isna().any()==True:
        print(i,f_qual[i].isna().sum())

fwver 40080
quality_0 144432
quality_2 40113
quality_5 20

In [16]:
for i in f_qual.columns:
    print(i,'\n')
    print(f_qual[i].unique(),'\n',len(f_qual[i].unique()))

time

[20201129090000 20201130210000 20201104110000 ... 20201126034000
 20201113065000 20201116061000]
 4319
user_id

[10000 10002 10004 ... 24993 24995 24997]
 8281
fwver

['05.15.2138' '04.22.1750' '04.16.3553' '04.33.1261' '04.22.1778'
 '04.33.1185' '04.16.3571' '05.66.3571' '03.11.1149' '03.11.1167'
 '04.82.1684' '04.82.1778' '04.33.1149' nan '05.66.3237' '04.73.2237'
 '09.17.1431' '04.22.1684' '05.15.2120' '04.33.1125' '05.15.2122'
 '04.22.1666' '04.22.1656' '04.16.3439' '04.73.2571' '05.15.2114'
 '04.16.3345' '04.22.1442']
 28
quality_0

[ 0.00000e+00  2.00000e+00 -1.00000e+00          nan  1.00000e+00
  3.00000e+00  7.00000e+00  6.00000e+00  4.08800e+03  1.29000e+02
  3.18600e+03  2.96000e+02  1.70000e+01  6.30000e+01  1.00000e+01
  9.04000e+02  4.00000e+00  3.79000e+03  1.62180e+04  1.06280e+04
  1.04000e+02  7.80000e+01  3.79000e+02  3.46000e+02  2.15000e+02
  2.61000e+02  3.34000e+02  2.50000e+02  1.60000e+01  3.10000e+01
  8.70000e+01  2.98000e+02  1.50000e+01  7.70000e+01  1.87140e+04
  7.42200e+03  6.50000e+01  1.40000e+01  3.30000e+01  1.66000e+02
  1.94000e+02  1.12000e+02  1.26000e+02  5.23000e+02  1.30000e+01
  9.40000e+01  1.10000e+01  4.25000e+02  3.20000e+01  5.00000e+00
  1.98700e+03  1.27270e+04  5.20000e+01  2.14000e+02  1.69000e+02
  2.03000e+02  1.70000e+02  1.31000e+02  1.14000e+02  1.13000e+02
  6.10000e+01  2.24000e+02  1.84000e+02  6.90000e+01  5.10000e+01
  7.20000e+01  9.00000e+01  9.10000e+01  1.19000e+02  2.44000e+02
  2.09000e+02  1.97000e+02  4.99000e+02  4.37000e+02  4.14000e+02
  2.94000e+02  3.09000e+02  4.50000e+02  2.84000e+02  7.90000e+02
  6.23000e+02  5.56000e+02  4.29000e+02  4.03000e+02  4.45000e+02
  3.83000e+02  3.66000e+02  3.71000e+02  3.24000e+02  3.47000e+02
  4.20000e+02  3.43000e+02  2.85000e+02  3.72000e+02  2.79000e+02
  3.37000e+02  4.22000e+02  5.06400e+03  5.82700e+03  3.18700e+03
  6.83400e+03  3.85500e+03  4.59700e+03  4.34700e+03  6.61200e+03
  2.24500e+03  3.69200e+03  2.93700e+03  3.01300e+03  2.26200e+03
  3.17500e+03  2.26000e+02  2.34000e+02  1.63000e+02  2.39000e+02
  2.41000e+02  1.86000e+02  2.16000e+02  1.77000e+02  1.45000e+02
  1.32000e+02  1.09000e+02  1.25000e+02  2.62000e+02  7.40000e+01
  9.50000e+01  1.80000e+02  1.58000e+02  1.99000e+02  1.46000e+02
  1.38000e+02  1.28000e+02  1.42000e+02  1.47000e+02  1.35000e+02
  1.43000e+02  1.06000e+02  8.60000e+01  7.10000e+01  1.30000e+02
  1.40000e+02  1.21000e+02  5.05000e+02  2.90000e+01  2.70000e+01
  8.00000e+00  1.90000e+01  9.00000e+00  4.63100e+03  5.12900e+03
  6.76000e+03  5.53900e+03  5.48200e+03  5.37400e+03  5.30900e+03
  7.40900e+03  6.97500e+03  5.87900e+03  1.25620e+04  3.93400e+03
  3.79400e+03  4.11700e+03  4.09400e+03  4.77300e+03  2.84200e+03
  4.49200e+03  4.15600e+03  3.77200e+03  3.73100e+03  4.55200e+03
  4.66500e+03  5.22100e+03  4.03400e+03  4.32400e+03  4.53400e+03
  4.59900e+03  4.97000e+03  4.80300e+03  4.78700e+03  4.34000e+03
  1.39000e+02  5.00000e+01  3.60000e+01  3.80000e+01  1.20000e+01
  4.70000e+01  4.40000e+01  6.80000e+01  4.30000e+01  2.00000e+01
  2.50000e+01  2.30000e+01  4.80000e+01  2.80000e+01  2.08000e+02
  2.54000e+02  1.57000e+02  1.15000e+02  1.78000e+02  1.62000e+02
  1.20000e+02  1.72000e+02  1.52000e+02  1.33000e+02  1.68000e+02
  1.17000e+02  1.85000e+02  1.67000e+02  1.87000e+02  2.68000e+02
  8.40000e+01  1.27000e+02  1.37000e+02  1.00000e+02  9.90000e+01
  8.00000e+01  1.05000e+02  6.40000e+01  5.50000e+01  7.30000e+01
  7.90000e+01  8.20000e+01  4.60000e+01  5.40000e+01  7.00000e+01
  3.70000e+01  7.50000e+01  6.60000e+01  4.00000e+01  6.00000e+01
  6.70000e+01  4.50000e+01  7.60000e+01  6.20000e+01  8.50000e+01
  1.48000e+02  1.53000e+02  1.93000e+02  1.89000e+02  1.96000e+02
  2.27000e+02  7.77000e+02  5.29000e+02  2.52000e+02  3.23000e+02
  3.02000e+02  2.88000e+02  2.40000e+02  3.04000e+02  3.35000e+02
  2.19000e+02  2.12000e+02  4.64000e+02  3.27400e+03  3.95300e+03
  4.97300e+03  3.83500e+03  4.22900e+03  4.80600e+03  4.09500e+03
  4.28900e+03  3.21400e+03  2.82600e+03  2.71700e+03  2.88100e+03
  1.99400e+03  2.07500e+03  2.03900e+03  1.74100e+03  1.83700e+03
  2.44200e+03  2.31000e+03  3.16200e+03  2.88500e+03  2.44400e+03
  2.64400e+03  2.41900e+03  2.01600e+03  1.86900e+03  1.91400e+03
  1.75300e+03  2.66200e+03  3.08100e+03  3.44300e+03  1.21700e+03
  1.99100e+03  1.85100e+03  2.10500e+03  2.24700e+03  2.33600e+03
  2.44000e+03  3.24800e+03  3.61900e+03  3.83700e+03  3.28000e+03
  2.86000e+02  4.10000e+01  2.10000e+01  5.76100e+03  1.59000e+02
  1.56000e+02  3.33000e+02  1.39300e+03  6.96400e+03  1.13130e+04
  1.83600e+03  1.79940e+04  5.70000e+01  1.80000e+01  1.18000e+02
  3.00000e+01  3.90000e+01  2.60000e+01  5.18000e+02  2.20000e+01
  5.51000e+02  1.15700e+03  9.72000e+02  7.83000e+02  8.09000e+02
  7.61000e+02  6.95000e+02  6.85000e+02  6.67000e+02  4.11000e+02
  8.28000e+02  6.99000e+02  7.60000e+02  6.52000e+02  7.29000e+02
  2.55200e+03  1.45620e+04  2.18000e+02  2.23000e+02  2.77000e+02
  2.63000e+02  2.43000e+02  2.21000e+02  2.42000e+02  1.81000e+02
  3.81000e+02  4.28000e+02  2.46000e+02  3.10000e+02  2.71000e+02
  3.50000e+02  1.18900e+03  2.40000e+01  3.50000e+01  5.60000e+01
  5.80000e+01  4.90000e+01  3.40000e+01  1.07000e+02  8.90000e+01
  5.30000e+01  8.80000e+01  4.20000e+01  1.26100e+03  9.99400e+03
  1.44000e+02  5.33100e+03  1.14100e+03  4.34000e+02  3.17000e+02
  7.95000e+02  6.49280e+04  2.48670e+04  1.07300e+03  1.11900e+03
  5.61000e+02  8.88000e+02  1.49000e+02  9.46000e+02  1.18600e+03
  1.17700e+03  1.11300e+03  1.00600e+03  1.48800e+03  1.20100e+03
  1.26200e+03  3.19100e+03  3.03700e+03  7.42700e+03  7.57300e+03
  8.27800e+03  3.73000e+02  7.53000e+02  1.12590e+04  8.72000e+02
  1.16000e+02  9.60000e+01  1.61000e+02  1.36000e+02  1.55000e+02
  1.65000e+02  2.00000e+02  3.70000e+02  3.31000e+02  3.14000e+02
  3.55000e+02  5.47000e+02  4.62000e+02  4.51000e+02  4.05000e+02
  2.80000e+02  4.19000e+02  5.14000e+02  6.27000e+02  4.21000e+02
  3.06000e+02  3.08000e+02  2.29000e+02  2.70000e+02  3.75000e+02
  5.46000e+02  4.39000e+02  7.27000e+02  5.92000e+02  5.98000e+02
  4.89000e+02  4.79000e+02  4.08000e+02  4.85000e+02  4.97000e+02
  5.49000e+02  3.38000e+02  5.90000e+01  5.24000e+02  5.90000e+02
  1.50000e+02  4.92000e+02  2.48400e+03  3.63000e+02  1.23000e+02
  1.64000e+02  9.20000e+01  8.10000e+01  8.30000e+01  2.06000e+02
  9.80000e+01  6.43000e+02  1.02700e+03  8.12000e+02  6.00000e+02
  3.95800e+03  1.78500e+03  1.24470e+04  2.62020e+04  5.16000e+03
  2.98700e+03  1.24300e+03  1.83000e+02  7.49000e+02  1.70400e+03
  5.83000e+02  6.61000e+02  2.01000e+02  2.56000e+02  1.08000e+02
  1.71000e+02  1.39200e+03  9.12700e+03  2.92940e+04  5.01700e+03
  3.88000e+02  1.31000e+03  1.16700e+03  9.59000e+02  9.34000e+02
  4.34300e+03  3.53500e+04  3.74510e+04  4.79380e+04  5.45670e+04
  2.20000e+02  1.75000e+02  1.73000e+02  1.82000e+02  3.13000e+02
  2.75000e+02  3.26000e+02  2.38000e+02  2.53000e+02  1.91000e+02
  2.72000e+02  2.95000e+02  2.73000e+02  2.69000e+02  3.00000e+02
  2.81000e+02  3.61000e+02  3.36000e+02  3.51000e+02  3.19000e+02
  2.58000e+02  3.07000e+02  2.60000e+02  3.45000e+02  3.74000e+02
  4.74000e+02  4.65000e+02  3.65000e+02  3.03000e+02  3.44000e+02
  3.94000e+02  3.85000e+02  3.54000e+02  3.42000e+02  2.13000e+02
  2.36000e+02  1.90000e+02  3.11000e+02  3.21000e+02  3.01000e+02
  3.58000e+02  2.90000e+02  3.82000e+02  3.91000e+02  2.99000e+02
  2.91000e+02  3.32000e+02  2.89000e+02  3.16000e+02  3.27000e+02
  4.00000e+02  4.09000e+02  4.41000e+02  3.60000e+02  4.31000e+02
  4.01000e+02  5.58000e+02  5.09000e+02  4.58000e+02  4.82000e+02
  4.87000e+02  5.01000e+02  4.40000e+02  4.72000e+02  4.53000e+02
  4.35000e+02  3.98000e+02  5.21000e+02  4.91000e+02  3.92000e+02
  5.35000e+02  5.28000e+02  4.63000e+02  4.24000e+02  4.49000e+02
  2.33000e+02  4.46000e+02  3.57000e+02  4.76000e+02  4.26000e+02
  5.59000e+02  4.69000e+02  4.55000e+02  4.12000e+02  5.89000e+02
  5.06000e+02  4.90000e+02  3.20000e+02  6.15000e+02  6.49000e+02
  3.97000e+02  3.87000e+02  4.06000e+02  6.33000e+02  5.42000e+02
  5.02000e+02  6.25000e+02  8.13000e+02  5.70000e+02  4.88000e+02
  4.36000e+02  3.67000e+02  5.31000e+02  3.93000e+02  4.16000e+02
  4.17000e+02  4.13000e+02  4.32000e+02  2.92000e+02  3.29000e+02
  4.02000e+02  2.67000e+02  2.31000e+02  2.17000e+02  4.07000e+02
  3.86000e+02  3.77000e+02  3.78000e+02  4.71000e+02  1.15690e+04
  2.34100e+03  1.92980e+04  5.29200e+03  3.15000e+02  1.34000e+03
  1.35100e+03  9.94300e+03  5.04100e+03  9.74000e+02  1.41000e+02
  1.51000e+02  1.03000e+02  1.54000e+02  1.76000e+02  1.01650e+04
  1.12840e+04  6.81300e+03  2.10030e+04  7.38500e+03  7.34600e+03
  2.24540e+04  1.25356e+05  1.24500e+05  7.71750e+04  7.02500e+03
  4.27900e+03  9.26000e+02  5.65800e+03  4.92900e+03  3.69000e+02
  3.30000e+02  9.85000e+02  3.77900e+03  2.83400e+03  1.13560e+04
  7.72000e+02  1.91420e+04  5.82000e+02  5.08000e+02  2.45400e+03
  3.96000e+02  3.25200e+03  2.03100e+04  1.89530e+04  8.38200e+03
  1.20600e+03  1.88410e+04  8.26000e+02  6.19090e+04  2.23320e+04
  7.10000e+02  7.75700e+03  5.85000e+02  8.89000e+02  5.78910e+04
  3.10280e+04  8.48900e+04  1.34235e+05  1.57667e+05  2.06320e+04
  2.55000e+02  1.34000e+02  1.01000e+02  1.02000e+02  2.49000e+02
  2.47000e+02  2.82000e+02  2.76000e+02  9.30000e+01  1.24000e+02
  1.98000e+02  1.10000e+02  2.05000e+02  2.07000e+02  2.65000e+02
  1.92000e+02  1.74000e+02  2.97000e+02  2.30000e+02  2.22000e+02
  1.11000e+02  3.90000e+02  4.04000e+02  5.22000e+02  4.67000e+02
  6.01000e+02  6.64000e+02  7.82000e+02  9.78000e+02  9.21000e+02
  7.89000e+02  6.65000e+02  5.48000e+02  5.12000e+02  6.17000e+02
  5.16000e+02  4.52000e+02  5.69000e+02  3.41000e+02  2.59000e+02
  8.27000e+02  9.31000e+02  1.02400e+03  4.70000e+02  5.54000e+02
  6.58000e+02  5.63000e+02  6.13000e+02  6.08000e+02  6.24000e+02
  5.79000e+02  5.73000e+02  4.57000e+02  4.81000e+02  5.13000e+02
  6.92000e+02  6.60000e+02  9.98000e+02  8.82000e+02  6.78000e+02
  6.05000e+02  6.91000e+02  7.50000e+02  9.03000e+02  5.95000e+02
  7.94000e+02  8.49000e+02  8.46000e+02  9.52000e+02  9.44000e+02
  7.80000e+02  1.03800e+03  6.63000e+02  9.49000e+02  1.00900e+03
  1.09000e+03  3.80000e+02  5.38000e+02  7.05000e+02  6.37000e+02
  7.71000e+02  7.76000e+02  1.00700e+03  9.57000e+02  5.43000e+02
  4.78000e+02  5.94000e+02  4.60000e+02  3.68000e+02  4.86000e+02
  5.66000e+02  4.42000e+02  4.73000e+02  9.70000e+01  1.22000e+02
  2.28000e+02  3.05000e+02  1.88000e+02  2.35100e+03]
 754
quality_1

[  0  -1   1   3   2   4  17   7   6   5  14  19  11   9  13  10   8  15
  12  16  20  23  18 117  35  21 169 171 170  88  40]
 31
quality_2

[ 0.00000e+00  1.00000e+00 -1.00000e+00  2.00000e+00  1.30000e+01
  3.00000e+00  7.00000e+00  6.00000e+00  8.10000e+01  6.40000e+01
  3.60000e+01  1.80000e+01  4.00000e+00  2.50000e+01  4.00000e+01
  8.00000e+00  6.60000e+01  1.60000e+01  2.10000e+01  5.40000e+01
  3.70000e+01  1.10000e+01  1.10000e+02  1.24000e+02  8.50000e+01
  2.40000e+01  2.00000e+01  1.50000e+01  9.00000e+00  1.00000e+01
  2.30000e+01  5.20000e+01  4.40000e+01  2.20000e+01  4.35000e+02
  1.20000e+01  3.00000e+01  5.00000e+00  5.59000e+02  2.70000e+01
  1.70000e+01  1.90000e+01  1.30000e+02  1.13000e+02  1.13626e+05
  9.85000e+02  1.21000e+02  1.92600e+03  2.90000e+01  1.23485e+05
  1.91859e+05  5.06000e+02  1.59000e+02  7.90000e+01  4.80000e+01
  4.08800e+03  1.29000e+02  3.18600e+03  2.96000e+02  6.30000e+01
  9.04000e+02          nan  1.62000e+02  2.54000e+02  8.99000e+02
  3.00000e+02  3.79000e+03  1.62180e+04  1.06280e+04  1.04000e+02
  7.80000e+01  3.79000e+02  3.46000e+02  2.15000e+02  2.61000e+02
  3.34000e+02  2.50000e+02  3.10000e+01  8.70000e+01  2.98000e+02
  7.70000e+01  1.87140e+04  7.42200e+03  6.50000e+01  1.40000e+01
  3.30000e+01  1.66000e+02  1.94000e+02  1.12000e+02  1.26000e+02
  5.23000e+02  9.40000e+01  4.25000e+02  3.20000e+01  1.98700e+03
  1.27270e+04  2.14000e+02  1.69000e+02  2.03000e+02  1.70000e+02
  1.31000e+02  1.14000e+02  6.10000e+01  2.24000e+02  1.84000e+02
  6.90000e+01  5.10000e+01  7.20000e+01  9.00000e+01  9.10000e+01
  1.19000e+02  2.44000e+02  2.09000e+02  1.97000e+02  4.99000e+02
  4.37000e+02  4.14000e+02  2.94000e+02  3.09000e+02  4.50000e+02
  2.84000e+02  7.90000e+02  6.23000e+02  5.56000e+02  4.29000e+02
  4.03000e+02  4.45000e+02  3.83000e+02  3.66000e+02  3.71000e+02
  3.24000e+02  3.47000e+02  4.20000e+02  3.43000e+02  2.85000e+02
  3.72000e+02  2.79000e+02  3.37000e+02  4.22000e+02  5.06400e+03
  5.82700e+03  3.18700e+03  6.83400e+03  3.85500e+03  4.59700e+03
  4.34700e+03  6.61200e+03  2.24500e+03  3.69200e+03  2.93700e+03
  3.01300e+03  2.26200e+03  3.17500e+03  2.26000e+02  2.34000e+02
  1.63000e+02  2.39000e+02  2.41000e+02  1.86000e+02  2.16000e+02
  1.77000e+02  1.45000e+02  1.32000e+02  1.09000e+02  1.25000e+02
  2.62000e+02  7.40000e+01  9.50000e+01  1.80000e+02  1.58000e+02
  1.99000e+02  1.46000e+02  1.38000e+02  1.28000e+02  1.42000e+02
  1.47000e+02  1.35000e+02  1.43000e+02  1.06000e+02  8.60000e+01
  7.10000e+01  1.40000e+02  5.05000e+02  4.63100e+03  5.12900e+03
  6.76000e+03  5.53900e+03  5.48200e+03  5.37400e+03  5.30900e+03
  7.40900e+03  6.97500e+03  5.87900e+03  1.25620e+04  3.93400e+03
  3.79400e+03  4.11700e+03  4.09400e+03  4.77300e+03  2.84200e+03
  4.49200e+03  4.15600e+03  3.77200e+03  3.73100e+03  4.55200e+03
  4.66500e+03  5.22100e+03  4.03400e+03  4.32400e+03  4.53400e+03
  4.59900e+03  4.97000e+03  4.80300e+03  4.78700e+03  4.34000e+03
  1.39000e+02  5.00000e+01  3.80000e+01  4.70000e+01  6.80000e+01
  4.30000e+01  2.80000e+01  2.08000e+02  1.57000e+02  1.15000e+02
  1.78000e+02  1.20000e+02  1.72000e+02  1.52000e+02  1.33000e+02
  1.68000e+02  1.17000e+02  1.85000e+02  1.67000e+02  1.87000e+02
  2.68000e+02  8.40000e+01  1.27000e+02  1.37000e+02  1.00000e+02
  9.90000e+01  8.00000e+01  1.05000e+02  5.50000e+01  7.30000e+01
  8.20000e+01  4.60000e+01  7.00000e+01  7.50000e+01  6.00000e+01
  6.70000e+01  4.50000e+01  7.60000e+01  6.20000e+01  1.48000e+02
  1.53000e+02  1.93000e+02  1.89000e+02  1.96000e+02  2.27000e+02
  7.77000e+02  5.29000e+02  2.52000e+02  3.23000e+02  3.02000e+02
  2.88000e+02  2.40000e+02  3.04000e+02  3.35000e+02  2.19000e+02
  2.12000e+02  4.64000e+02  3.27400e+03  3.95300e+03  4.97300e+03
  3.83500e+03  4.22900e+03  4.80600e+03  4.09500e+03  4.28900e+03
  3.21400e+03  2.82600e+03  2.71700e+03  2.88100e+03  1.99400e+03
  2.07500e+03  2.03900e+03  1.74100e+03  1.83700e+03  2.44200e+03
  2.31000e+03  3.16200e+03  2.88500e+03  2.44400e+03  2.64400e+03
  2.41900e+03  2.01600e+03  1.86900e+03  1.91400e+03  1.75300e+03
  2.66200e+03  3.08100e+03  3.44300e+03  1.21700e+03  1.99100e+03
  1.85100e+03  2.10500e+03  2.24700e+03  2.33600e+03  2.44000e+03
  3.24800e+03  3.61900e+03  3.83700e+03  3.28000e+03  2.86000e+02
  4.10000e+01  5.76100e+03  9.80000e+01  4.90000e+01  5.70000e+01
  1.56000e+02  3.33000e+02  1.39300e+03  6.96400e+03  1.13130e+04
  1.83600e+03  1.79940e+04  1.18000e+02  3.90000e+01  2.60000e+01
  5.18000e+02  5.51000e+02  1.15700e+03  9.72000e+02  7.83000e+02
  8.09000e+02  7.61000e+02  6.95000e+02  6.85000e+02  6.67000e+02
  4.11000e+02  8.28000e+02  6.99000e+02  7.60000e+02  6.52000e+02
  7.29000e+02  2.55200e+03  1.45620e+04  2.18000e+02  2.23000e+02
  2.77000e+02  2.63000e+02  2.43000e+02  2.21000e+02  2.42000e+02
  1.81000e+02  3.81000e+02  4.28000e+02  2.46000e+02  3.10000e+02
  2.71000e+02  3.50000e+02  1.18900e+03  3.50000e+01  5.60000e+01
  5.80000e+01  3.40000e+01  1.07000e+02  8.90000e+01  5.30000e+01
  8.80000e+01  4.20000e+01  1.26100e+03  9.99400e+03  1.44000e+02
  5.33100e+03  1.14100e+03  4.34000e+02  3.17000e+02  7.95000e+02
  6.49280e+04  5.90000e+01  1.40860e+04  2.48670e+04  1.07300e+03
  1.11900e+03  5.61000e+02  8.88000e+02  1.49000e+02  9.46000e+02
  1.18600e+03  1.17700e+03  1.11300e+03  1.00600e+03  1.48800e+03
  1.20100e+03  1.26200e+03  3.19100e+03  3.03700e+03  7.42700e+03
  7.57300e+03  8.27800e+03  3.73000e+02  7.53000e+02  1.12590e+04
  8.72000e+02  1.16000e+02  9.60000e+01  1.61000e+02  1.36000e+02
  1.55000e+02  1.65000e+02  2.00000e+02  3.70000e+02  3.31000e+02
  3.14000e+02  3.55000e+02  5.47000e+02  4.62000e+02  4.51000e+02
  4.05000e+02  2.80000e+02  4.19000e+02  5.14000e+02  6.27000e+02
  4.21000e+02  3.06000e+02  3.08000e+02  2.29000e+02  2.70000e+02
  3.75000e+02  5.46000e+02  4.39000e+02  7.27000e+02  5.92000e+02
  5.98000e+02  4.89000e+02  4.79000e+02  4.08000e+02  4.85000e+02
  4.97000e+02  5.49000e+02  3.38000e+02  4.81500e+03  3.79900e+03
  3.22500e+03  3.42600e+03  3.50900e+03  3.11200e+03  3.07400e+03
  2.93300e+03  2.85100e+03  2.90500e+03  3.06700e+03  3.04100e+03
  3.51000e+03  3.63200e+03  3.31400e+03  3.54900e+03  3.51400e+03
  4.02100e+03  3.90800e+03  3.63800e+03  3.51100e+03  3.67900e+03
  3.26200e+03  3.67200e+03  3.73000e+03  3.67800e+03  3.90200e+03
  4.00900e+03  5.24000e+02  5.90000e+02  1.50000e+02  4.92000e+02
  2.48400e+03  3.63000e+02  1.23000e+02  1.64000e+02  9.20000e+01
  8.30000e+01  2.06000e+02  6.43000e+02  1.02700e+03  8.12000e+02
  6.00000e+02  3.95800e+03  1.78500e+03  1.24470e+04  2.62020e+04
  5.16000e+03  2.98700e+03  1.24300e+03  1.64100e+03  4.70800e+03
  3.89000e+02  9.49800e+03  1.61200e+03  3.30300e+03  1.24060e+05
  1.79735e+05  5.08700e+03  1.83000e+02  7.49000e+02  1.70400e+03
  5.83000e+02  6.61000e+02  2.01000e+02  2.56000e+02  1.08000e+02
  1.71000e+02  1.39200e+03  9.12700e+03  2.92940e+04  5.01700e+03
  3.88000e+02  1.31000e+03  1.16700e+03  9.59000e+02  9.34000e+02
  4.34300e+03  3.53500e+04  3.74510e+04  4.79380e+04  5.45670e+04
  2.20000e+02  1.75000e+02  1.73000e+02  1.82000e+02  3.13000e+02
  2.75000e+02  3.26000e+02  2.38000e+02  2.53000e+02  1.91000e+02
  2.72000e+02  2.95000e+02  2.73000e+02  2.69000e+02  2.81000e+02
  3.61000e+02  3.36000e+02  3.51000e+02  3.19000e+02  2.58000e+02
  3.07000e+02  2.60000e+02  3.45000e+02  3.74000e+02  4.74000e+02
  4.65000e+02  3.65000e+02  3.03000e+02  3.44000e+02  3.94000e+02
  3.85000e+02  3.54000e+02  3.42000e+02  2.13000e+02  2.36000e+02
  1.90000e+02  3.11000e+02  3.21000e+02  3.01000e+02  3.58000e+02
  2.90000e+02  3.82000e+02  3.91000e+02  2.99000e+02  2.91000e+02
  3.32000e+02  2.89000e+02  3.16000e+02  3.27000e+02  4.00000e+02
  4.09000e+02  4.41000e+02  3.60000e+02  4.31000e+02  4.01000e+02
  5.58000e+02  5.09000e+02  4.58000e+02  4.82000e+02  4.87000e+02
  5.01000e+02  4.40000e+02  4.72000e+02  4.53000e+02  3.98000e+02
  5.21000e+02  4.91000e+02  3.92000e+02  5.35000e+02  5.28000e+02
  4.63000e+02  4.24000e+02  4.49000e+02  2.33000e+02  4.46000e+02
  3.57000e+02  4.76000e+02  4.26000e+02  4.69000e+02  4.55000e+02
  4.12000e+02  5.89000e+02  4.90000e+02  3.20000e+02  6.15000e+02
  6.49000e+02  3.97000e+02  3.87000e+02  4.06000e+02  6.33000e+02
  5.42000e+02  5.02000e+02  6.25000e+02  8.13000e+02  5.70000e+02
  4.88000e+02  4.36000e+02  3.67000e+02  5.31000e+02  3.93000e+02
  4.16000e+02  4.17000e+02  4.13000e+02  4.32000e+02  2.92000e+02
  3.29000e+02  4.02000e+02  2.67000e+02  2.31000e+02  2.17000e+02
  4.07000e+02  3.86000e+02  3.77000e+02  3.78000e+02  4.71000e+02
  1.15690e+04  2.34100e+03  1.92980e+04  5.29200e+03  3.15000e+02
  1.34000e+03  1.35100e+03  9.94300e+03  5.04100e+03  9.74000e+02
  1.41000e+02  1.51000e+02  1.03000e+02  1.54000e+02  1.76000e+02
  1.20890e+04  1.01650e+04  1.12840e+04  6.81300e+03  2.10030e+04
  7.38500e+03  7.34600e+03  2.24540e+04  1.25356e+05  1.24500e+05
  7.71750e+04  7.02500e+03  1.65570e+04  4.27900e+03  9.26000e+02
  5.65800e+03  4.92900e+03  3.69000e+02  3.30000e+02  3.77900e+03
  2.83400e+03  1.13560e+04  7.72000e+02  1.91420e+04  5.82000e+02
  5.08000e+02  2.45400e+03  3.96000e+02  3.25200e+03  2.03100e+04
  1.89530e+04  8.38200e+03  1.20600e+03  1.88410e+04  8.26000e+02
  6.19090e+04  2.23320e+04  7.10000e+02  7.75700e+03  5.85000e+02
  8.89000e+02  5.78910e+04  3.10280e+04  8.48900e+04  1.34235e+05
  1.57667e+05  2.06320e+04  2.55000e+02  1.34000e+02  1.01000e+02

[0]
 1
quality_5

['0' '4' '8' ... '98,175' '7,998' '9,558']
 4745
quality_6

[  0   1  -1  44  87  27   9   4 348   2   5  68 204  11  49  62   8  67
  19 139 196  82  37   6 600 398  24  12  46 110  42  36 599 590 485  41
  33  30 283 317  47 105  25  75   7  13  54  92  64  95  72 333  70 519
 161 132 301 109  22  89  28 264 158 120  51 117   3  21  15  10  98 178
  23  18  35 153 156 367 119  88 202 305 175  29  14  20 218  17  77  32
  81  26  31  57  60  50  66 215 199 113 152  74  63  45 172 318 269 182
  96 540 564 198  71 254 304 136  61 523 167 381 224  40 566 275 598 277
  52 436  16 130 459  38  55  53 123 289 525 395 190 162 281 467 524 550
 539 251  99 282 447 267 347 440 571 479 423 184 480 276  91  80 101  43
 499 500 169 179 195 201 188  97 260  48  69  34  79  39 102 163 255 144
 103  56 320 428 559  94 185 191 129 486 285 585  86 171 391 107  85 207
  93 127 150  84 206 567 104 241 145 125  78  59 538 306 380 326 115 128
 116 226  65 106 338 429 220 232 580 108 413 535 303  73 176 250 299 197
 262 121 146 290 246 236 355 200 313 490 494 268 181 562 458 242 597 193
 322 337  83 126 205 369 425 481 263 420 503 521 368 345 249 141 325 449
 400 375 390 488 560 292 147 551 474 478 265 374 259 165 466 379 159 518
 462 239 421 227 366 384 570 393 516 445 505 399 160 217 565 511 149 155
 587 189 557 504 112 133 314 100 118 216  76  58 122  90 134 131 111 142
 124 151 164 114 135 243 589 166 230 520 336 359 173 482 402 170 238 248
 214 415 569 225 294 143 278 279 138 537 419 365 192 528 454 396 362 464
 140 256 154 435 331 582 442 515 588 378 346 280 554 321 312 547 452 497
 360 526 501 187 383 533 274 545 203 311 522 544 531 577 354 341 342 219
 271 319 183 208 308 370 148 495 137 351 431 174 270 534 510 295 307 541
 310 433 211 414 476 157 448 418 330 221 334 252 229 340 361 463 427 450
 358 513 324 392 543 186 353 284 507 548 297 258 373 253 177 245 257 529
 244 344 434 323 530 228 272 300 213 298 572 247 223 273 168 212 437 332
 234 456 309 287 430 542 394 350 327 357 261 576 409 451 401 316 352 240
 492 343 446 329 470 563 552 527 443 302 592 388 377 397 356 568 411 473
 477 432 231 180 512 386 194 288 222 210 209 468 404 410 235 555 549 266
 461 508 532 438 339 364 328 382 441 483 579 475 506 581 389 574 349 584
 491 296 496 426 591 291 237 586 417]
 549
quality_7

['0' '2' '44' '87' '36' '4' '348' '9' '6' '283' '5' '68' '49' '62' '75'
 '19' '418' '37' '1,598' '24' '12' '46' '110' '1' '78' '4,789' '5,285'
 '74' '30' '600' '47' '67' '105' '25' '82' '92' '159' '72' '1,603' '1,280'
 '433' '109' '13' '111' '98' '422' '3' '129' '51' '117' '7' '21' '15' '11'
 '10' '178' '1,200' '65' '56' '22' '42' '59' '210' '156' '574' '202' '517'
 '33' '29' '14' '8' '328' '17' '77' '32' '81' '28' '64' '41' '20' '132'
 '57' '55' '60' '85' '73' '39' '66' '131' '112' '38' '617' '275' '199'
 '119' '198' '304' '788' '182' '1,274' '356' '765' '61' '530' '167' '381'
 '26' '264' '89' '1,174' '2,162' '52' '18' '505' '3,630' '2,529' '2,259'
 '27' '108' '123' '1,209' '242' '16' '443' '3,000' '1,027' '83' '139' '31'
 '1,689' '267' '88' '389' '714' '347' '1,611' '2,884' '1,080' '43' '350'
 '1,914' '162' '254' '35' '196' '50' '102' '58' '1,668' '179' '195'
 '2,699' '158' '188' '97' '48' '260' '80' '107' '71' '79' '189' '93' '238'
 '344' '3,108' '235' '103' '34' '286' '1,348' '599' '128' '453' '3,479'
 '45' '900' '628' '86' '562' '869' '778' '222' '279' '1,373' '23' '40'
 '197' '528' '145' '125' '2,791' '2,057' '706' '1,183' '115' '116' '104'
 '155' '252' '106' '135' '338' '429' '452' '206' '1,459' '491' '1,251'
 '146' '99' '176' '1,475' '1,627' '201' '76' '4,420' '538' '1,513' '7,199'
 '5,865' '2,321' '4,010' '7,200' '5,090' '659' '164' '84' '54' '593' '673'
 '261' '190' '263' '605' '181' '393' '140' '804' '4,277' '5,559' '7,019'
 '2,903' '6,223' '3,633' '973' '6,140' '3,582' '2,002' '4,458' '1,575'
 '1,599' '1,937' '2,051' '4,347' '4,750' '4,346' '7,124' '2,181' '2,403'
 '4,138' '6,686' '1,678' '2,174' '859' '6,358' '5,907' '3,625' '4,359'
 '1,718' '5,425' '5,039' '1,476' '5,277' '3,739' '5,027' '3,549' '6,993'
 '2,139' '5,939' '5,304' '3,195' '1,857' '1,824' '3,304' '5,266' '4,157'
 '3,993' '2,304' '2,400' '3,056' '1,312' '133' '95' '101' '100' '5,114'
 '205' '53' '378' '218' '126' '324' '860' '248' '127' '754' '670' '523'
 '295' '638' '710' '752' '630' '579' '426' '373' '578' '539' '735' '660'
 '712' '871' '768' '880' '1,153' '297' '3,589' '2,566' '2,029' '249' '276'
 '643' '91' '1,120' '549' '172' '4,927' '450' '884' '170' '247' '848'
 '160' '647' '63' '395' '214' '2,436' '556' '96' '3,194' '70' '294' '113'
 '310' '118' '169' '151' '69' '850' '144' '431' '764' '508' '6,965' '134'
 '2,538' '5,274' '758' '3,683' '3,003' '4,456' '645' '6,753' '6,534'
 '1,366' '6,645' '2,599' '1,017' '2,416' '4,286' '6,588' '5,146' '1,115'
 '4,331' '6,199' '5,033' '2,641' '4,115' '4,583' '6,351' '2,959' '3,526'
 '2,301' '642' '4,387' '2,782' '1,088' '7,132' '5,576' '2,674' '1,000'
 '6,545' '1,252' '5,904' '1,863' '839' '4,075' '4,501' '2,371' '4,779'
 '187' '1,744' '6,531' '6,369' '2,198' '2,767' '6,910' '6,877' '1,927'
 '875' '287' '736' '1,318' '342' '2,619' '321' '560' '251' '114' '152'
 '225' '274' '407' '227' '180' '256' '184' '444' '239' '397' '799' '501'
 '2,486' '2,604' '366' '1,105' '308' '154' '1,064' '1,134' '3,101' '1,944'
 '1,203' '1,710' '2,094' '1,507' '3,880' '2,877' '358' '149' '121' '148'
 '266' '124' '153' '192' '292' '165' '1,376' '147' '94' '137' '90' '237'
 '136' '246' '177' '122' '166' '157' '245' '537' '414' '3,026' '807'
 '1,089' '200' '186' '208' '866' '3,330' '221' '226' '290' '259' '334'
 '341' '960' '485' '623' '268' '976' '2,166' '985' '319' '819' '529' '582'
 '652' '1,317' '634' '1,785' '681' '2,382' '1,143' '524' '641' '396' '961'
 '307' '1,389' '1,704' '6,599' '3,311' '6,014' '4,148' '1,315' '6,296'
 '525' '215' '213' '278' '663' '682' '120' '150' '2,286' '303' '417' '784'
 '502' '388' '335' '253' '585' '369' '2,692' '2,358' '143' '471' '312'
 '1,663' '1,147' '713' '323' '943' '746' '185' '455' '495' '830' '430'
 '410' '1,272' '655' '1,040' '1,230' '311' '767' '269' '1,813' '211' '183'
 '223' '142' '299' '262' '398' '1,263' '420' '3,058' '281' '400' '561'
 '376' '684' '207' '168' '367' '220' '282' '612' '856' '284' '174' '844'
 '1,019' '615' '230' '1,827' '318' '473' '1,041' '1,591' '1,020' '305'
 '244' '2,794' '138' '654' '203' '648' '432' '1,121' '257' '250' '330'
 '1,025' '1,500' '409' '957' '1,051' '6,466' '2,470' '753' '5,219' '3,316'
 '2,547' '2,440' '1,672' '361' '380' '2,390' '343' '4,602' '4,046' '2,729'
 '5,270' '5,963' '4,849' '5,952' '1,722' '6,300' '4,127' '6,176' '448'
 '161' '440' '483' '229' '316' '219' '2,171' '336' '217' '340' '470'
 '5,490' '812' '4,642' '6,510' '236' '467' '442' '441' '365' '1,497'
 '2,183' '1,519' '4,381' '1,034' '191' '194' '241' '1,028' '383' '331'
 '258' '3,600' '1,269' '5,448' '2,924' '1,258' '998' '2,213' '333' '309'
 '463' '1,144' '1,168' '314' '2,684' '633' '568' '702' '477' '748' '896'
 '1,735' '2,462' '5,136' '3,310' '881' '4,363' '6,069' '4,366' '6,080'
 '3,448' '394' '3,515' '3,252' '5,911' '1,593' '270' '130' '4,125' '594'
 '813' '865' '1,047' '354' '486' '425' '1,926' '291' '1,557' '224' '986'
 '1,703' '2,256' '6,132' '355' '693' '5,085' '5,828' '2,627' '3,001'
 '3,822' '5,452' '5,433' '317' '2,953' '777' '4,395' '666' '5,721' '277'
 '583' '1,132' '465' '216' '435' '2,369' '843' '1,777' '555' '385' '665'
 '193' '171' '635' '1,757' '1,759' '2,738' '1,141' '588' '374' '3,486'
 '608' '464' '416' '518' '1,589' '772' '609' '2,764' '6,984' '1,789'
 '6,490' '2,113' '2,781' '1,884' '877' '2,624' '2,088' '6,269' '1,508'
 '3,643' '3,138' '6,462' '5,275' '6,695' '2,093' '6,506' '2,147' '4,702'
 '6,247' '913' '4,338' '3,924' '4,454' '5,244' '5,560' '384' '497' '725'
 '500' '835' '4,821' '329' '4,618' '548' '2,918' '472' '413' '1,004' '327'
 '3,360' '6,573' '352' '484' '2,997' '2,004' '4,861' '5,987' '2,989'
 '2,310' '2,294' '2,332' '4,120' '5,506' '2,994' '2,948' '212' '1,745'
 '1,826' '2,926' '2,401' '163' '718' '745' '370' '535' '390' '141' '362'
 '478' '762' '475' '1,003' '487' '289' '306' '428' '353' '481' '591' '577'
 '1,046' '2,296' '326' '5,584' '1,043' '456' '363' '540' '1,840' '1,614'
 '1,615' '747' '2,298' '2,686' '610' '3,296' '271' '325' '809' '204'
 '3,772' '2,021' 0 16 10 5 11 7 1 72 46 161 6 18 25 14 744 220 217 39 56
 49 4 88 62 103 614 93]
 908
quality_8

[0 1 8 5 11 2 6 20 4 3 7 12 16 14 38 10 13 15 9 29 27 18 43 17 22 42 19
 125 21 25 23 32 68 73 26 35 28 31 '0' '2' '1' '1,317' '3' '4' '5' '12'
 '6' '7' '10' 24 47 37]
 52
quality_9

['0' '1' '2' '3' '13' '5' '7' '11' '6' '4' '209' '42' '18' '198' '119'
 '12' '387' '77' '52' '590' '88' '575' '56' '75' '286' '114,760' '111'
 '1,967' '315,367' '83' '665' '25' '38' '175' '19' '15' '7,405' '313' '64'
 '10' '910' '162' '1,457' '30,636' '104' '79' '940' '261' '335' '585' '47'
 '386' '300' '92' '26,139' '65' '14' '33' '472' '652' '94' 0 1 2 425 32 3
 5 9 6 4 42 12 31 21 7 11 '44' '14,716' '1,227' '1,611' '3,727' '5,010'
 '1,695' '10,891' '10,021' '8,452' '19,411' '17,324' '2,193' '446' '74'
 '1,186' '1,497' '1,855' '122' '71,049' '11,846' '50,656' '54,560' '596'
 '219' '208' '448' '87' '1,716' '1,843' '1,715' '892' '204' '836' '620'
 '269' '645' '706' '453' '3,824' '2,364' '16,035' '29,057' '27,992'
 '7,552' '9,186' '5,059' '23,404' '157' '126' '130' '5,761' '8' '189'
 '181' '245' '93' '49' '32' '54' '125' '68' '41' '9' '16' '9,057' '31,143'
 '31' '71' '103' '24' '250' '147' '107' '1,254' '53' '551' '6,529' '4,079'
 '133' '17,114' '138' '2,524' '3,693' '318' '205' '20' '81' '37' '23'
 '182' '163' '46' '34' '35' '21' '26' '22' '366' '222' '131' '346' '118'
 '29' '40' '167' '196' '776' '404' '106' '228' '486' '396' '254' '210'
 '139' '112' '129' '223' '174' '96' '30' '50' '58' '48' '60' '67' '109'
 '39' '45' 26 '1,261' '9,994' '490' '85' '5,331' '1,141' '1,546' '64,928'
 '59' '14,086' '24,867' '3,641' '149' '10,685' '29,506' '1,132' '759' '17'
 '36' '28' '11,327' '3,236' '63' '392' '466' '1,235' '736' '1,095' '5,183'
 '2,100' '1,631' '6,147' '21,886' '38,552' '44,804' '62' '95' '69' '240'
 '249' '371' '1,618' '636' '123' '82' '253' '184' '2,976' '994' '195'
 '158' '136' '285' '183' '101' '43' '80' '142' '27' '191' '613' '364'
 '248' '61' '279' '135' '120' '66' '193' '128' '57' '556' '160' '211'
 '117' '229' '178' '155' '226' '709' '1,572' '5,372' '1,824' '38,649'
 '9,120' '1,243' '145' '3,878' '5,098' '11,110' '3,368' '303,795' '141'
 '5,088' '200' '2,505' '2,500' '2,423' '461' '10,802' '29,641' '5,017'
 '166' '397' '271' '1,315' '1,167' '1,290' '934' '4,343' '35,350'
 '139,956' '278' '494' '2,096' '2,293' '3,277' '3,089' '3,577' '3,639'
 '4,350' '3,337' '3,792' '3,733' '1,905' '672' '108' '342' '289' '72' '84'
 '282' '336' '1,918' '5,175' '5,625' '5,018' '419' '3,515' '2,671' '4,369'
 '5,325' '6,168' '5,041' '4,541' '4,303' '3,263' '5,078' '827' '296' '102'
 '227' '212' '115' '78' '91' '262' '221' '326' '280' '330' '272' '114'
 '384' '305' '294' '375' '365' '293' '176' '177' '263' '90' '217' '258'
 '171' '192' '73' '110' '127' '89' '152' '97' '187' '159' '281' '161'
 '144' '156' '70' '201' '381' '362' '235' '268' '173' '442' '38,875' '478'
 '1,342' '1,352' '14,985' '1,047' '179' '105' '275' '194' '169' '121'
 '134' '116' '100' '154' '150' '224' '190' '234' '207' '153' '247' '237'
 '51' '242' '288' '151' '186' '276' '143' '132' '170' '146' '99' '202'
 '137' '197' '270' '180' '233' '1,657' '1,231' '1,661' '388' '845' '168'
 '406' '12,098' '21,594' '98' '86' '392,378' '392,590' '16,557' '252'
 '16,353' '804' '1,613' '18,688' '20,258' '55,080' '20,050' '62,735'
 '22,332' '8,468' '2,743' '88,920' '397,424' '290' '2,589' '2,670' '721'
 '733' '967' '1,115' '964' '1,438' '1,607' '1,634' '2,057' '2,721' '2,789'
 '832' '855' '2,634' '1,236' '515' '489' '572' '1,012' '609' '225' '501'
 '546' '817' '922' '3,352' '1,449' '5,067' '6,680' '6,140' '5,242' '3,967'
 '5,915' '2,607' '10,126' '2,099' '514' '7,747' '5,567' '4,131' '4,450'
 '324' '482' '338' '659' '718' '531' '713' '380' '218' '851' '481' '1,003'
 '953' '1,701' '475' '2,269' '2,357' '1,022' '811' '582' '2,506']
 539
quality_10

['4' '8' '0' ... '108,441' '9,558' '1,540']
 4200
quality_11

[ 0 -1  1  3  2  4  5  6  9  8 14  7]
 12
quality_12

[ 0  1  2  3  5  7  6  8  4 10 12 13 14 11]
 14

### f_qual파일

- fwver,quality0,2,5에서 null값 다수 발견
- 서로다른 user_id는 8281개이다.

# 2. 전처리(Data Post Processing

In [17]:
# 시간 datetime tyoe으로 변환

def change_time(f):
    l=[]
    for i in range(len(f)):
        t=str(f['time'][i])
        tmp=t[0:4]+'-'+t[4:6]+'-'+t[6:8]+' '+t[8:10]+':'+t[10:12]+':'+t[12:14]
        l.append(tmp)
        
    f['time']=l
    f['time']=pd.to_datetime(f['time'],format='%Y-%m-%d %H:%M:%S')
    
    return f

In [18]:
change_time(f_err)

          user_id                time model_nm       fwver  errtype errcode
0           10000 2020-11-01 02:56:16  model_3  05.15.2138       15       1
1           10000 2020-11-01 03:03:09  model_3  05.15.2138       12       1
2           10000 2020-11-01 03:03:09  model_3  05.15.2138       11       1
3           10000 2020-11-01 05:05:14  model_3  05.15.2138       16       1
4           10000 2020-11-01 05:05:15  model_3  05.15.2138        4       0
...           ...                 ...      ...         ...      ...     ...
16554658    24999 2020-11-30 16:30:51  model_3  05.15.2138       15       1
16554659    24999 2020-11-30 17:26:25  model_3  05.15.2138       16       1
16554660    24999 2020-11-30 17:26:25  model_3  05.15.2138        4       0
16554661    24999 2020-11-30 17:26:31  model_3  05.15.2138        4       0
16554662    24999 2020-11-30 21:06:25  model_3  05.15.2138       15       1

[16554663 rows x 6 columns]

In [19]:
change_time(f_prob)

      user_id                time
0       19224 2020-11-02 20:00:00
1       23664 2020-11-16 14:00:00
2       15166 2020-11-14 13:00:00
3       12590 2020-11-08 21:00:00
4       15932 2020-11-03 21:00:00
...       ...                 ...
5424    20167 2020-11-25 12:00:00
5425    16270 2020-11-10 12:00:00
5426    19114 2020-11-06 23:00:00
5427    21505 2020-11-04 11:00:00
5428    18822 2020-11-02 12:00:00

[5429 rows x 2 columns]

In [20]:
change_time(f_qual)

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
1,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
2,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
3,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
4,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828619,2020-11-24 03:30:00,24997,04.22.1778,0.0,0,0.0,0,0,1,0,0,0,0,17,0,0
828620,2020-11-24 03:30:00,24997,04.22.1778,0.0,0,0.0,0,0,0,0,0,0,0,17,0,0
828621,2020-11-24 03:30:00,24997,04.22.1778,0.0,0,0.0,0,0,3,0,0,0,0,17,0,0
828622,2020-11-24 03:30:00,24997,04.22.1778,0.0,0,0.0,0,0,0,0,0,0,0,17,0,0
828623,2020-11-24 03:30:00,24997,04.22.1778,0.0,0,0.0,0,0,9,0,0,0,0,17,0,0

In [21]:
f_err.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16554663 entries, 0 to 16554662
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   time      datetime64[ns]
 2   model_nm  object
 3   fwver     object
 4   errtype   int64
 5   errcode   object
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 757.8+ MB

In [22]:
f_prob.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5429 entries, 0 to 5428
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  5429 non-null   int64
 1   time     5429 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 85.0 KB

In [23]:
f_qual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 828624 entries, 0 to 828623
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time        828624 non-null  datetime64[ns]
 1   user_id     828624 non-null  int64
 2   fwver       788544 non-null  object
 3   quality_0   684192 non-null  float64
 4   quality_1   828624 non-null  int64
 5   quality_2   788511 non-null  float64
 6   quality_3   828624 non-null  int64
 7   quality_4   828624 non-null  int64
 8   quality_5   828604 non-null  object
 9   quality_6   828624 non-null  int64
 10  quality_7   828624 non-null  object
 11  quality_8   828624 non-null  object
 12  quality_9   828624 non-null  object
 13  quality_10  828624 non-null  object
 14  quality_11  828624 non-null  int64
 15  quality_12  828624 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(7), object(6)
memory usage: 101.2+ MB

- f_err,f_prob, f_qual의 time을 datetime 형태로 변환

In [24]:
# 결측치가 있는 행 찾기
f_err[f_err['errcode'].isna()==True]

         user_id                time model_nm       fwver  errtype errcode
3825744    13639 2020-11-21 19:17:18  model_2  04.33.1261        5     NaN

In [25]:
# 해당 user_id가 사용자 불만에 신고된 적이있는지 확인(중요도 판단 요소)
f_prob[f_prob['user_id']==13639]

      user_id                time
3988    13639 2020-11-17 21:00:00

In [26]:
# errtype에 따라 errcode가 같은지 확인,
# 확인 결과 상관없음
f_err[f_err['errtype']==5]

          user_id                time model_nm       fwver  errtype  errcode
330         10001 2020-11-02 00:23:05  model_2  04.33.1185        5  B-A8002
331         10001 2020-11-02 00:23:10  model_2  04.33.1185        5  B-A8002
332         10001 2020-11-02 00:23:10  model_2  04.33.1185        5  B-A8002
333         10001 2020-11-02 00:23:11  model_2  04.33.1185        5  B-A8002
334         10001 2020-11-02 00:23:11  model_2  04.33.1185        5  B-A8002
...           ...                 ...      ...         ...      ...      ...
16554293    24999 2020-11-11 03:04:46  model_3  05.15.2138        5  Q-64002
16554332    24999 2020-11-13 03:04:52  model_3  05.15.2138        5  Q-64002
16554406    24999 2020-11-17 03:04:58  model_3  05.15.2138        5  S-65002
16554448    24999 2020-11-19 03:04:48  model_3  05.15.2138        5  Q-64002
16554634    24999 2020-11-29 03:04:53  model_3  05.15.2138        5  Q-64002

[952920 rows x 6 columns]

In [27]:
# user_id가 동일한 errcode를 보이는지 확인,
# 확인 결과 errtype, errcode가 다양함(규칙성 없음)
x=f_err[f_err['user_id']==13639]
x

         user_id                time model_nm       fwver  errtype errcode
3823076    13639 2020-11-01 00:00:04  model_2  04.33.1185        2       0
3823077    13639 2020-11-01 00:05:33  model_2  04.33.1185        2       0
3823078    13639 2020-11-01 00:29:14  model_2  04.33.1185        2       1
3823079    13639 2020-11-01 00:29:24  model_2  04.33.1185        2       0
3823080    13639 2020-11-01 00:31:21  model_2  04.33.1185        2       1
...          ...                 ...      ...         ...      ...     ...
3825960    13639 2020-11-30 22:03:02  model_2  04.33.1261       16       1
3825961    13639 2020-11-30 22:03:03  model_2  04.33.1261       40       0
3825962    13639 2020-11-30 22:03:06  model_2  04.33.1261       31       1
3825963    13639 2020-11-30 22:03:18  model_2  04.33.1261       31       0
3825964    13639 2020-11-30 23:05:00  model_2  04.33.1261       15       1

[2889 rows x 6 columns]

In [28]:
# errcode 분포
x.groupby(['errcode'])['errcode'].count()

errcode
0          1245
1          1532
13            1
14            2
2            11
3            10
40013         1
78            1
79            3
8.0           2
80            4
B-A8002      61
H-51042       2
UNKNOWN       1
active        5
standby       7
Name: errcode, dtype: int64

In [29]:
f_err=f_err.dropna(axis=0,how='any')

In [30]:
f_err.isna().any()

user_id     False
time        False
model_nm    False
fwver       False
errtype     False
errcode     False
dtype: bool

- nan값이 있는 user_id 13639는 errcode 0,1중 하나로 추정 할 수 있지만 불확실 함으로 해당 행을 삭제한다.

In [31]:
f_qual=f_qual.dropna(subset=['quality_0','quality_2','quality_5'],how='any',axis=0)

In [32]:
f_qual.isna().any()

time          False
user_id       False
fwver         False
quality_0     False
quality_1     False
quality_2     False
quality_3     False
quality_4     False
quality_5     False
quality_6     False
quality_7     False
quality_8     False
quality_9     False
quality_10    False
quality_11    False
quality_12    False
dtype: bool

In [33]:
f_qual.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 684139 entries, 0 to 828623
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time        684139 non-null  datetime64[ns]
 1   user_id     684139 non-null  int64
 2   fwver       684139 non-null  object
 3   quality_0   684139 non-null  float64
 4   quality_1   684139 non-null  int64
 5   quality_2   684139 non-null  float64
 6   quality_3   684139 non-null  int64
 7   quality_4   684139 non-null  int64
 8   quality_5   684139 non-null  object
 9   quality_6   684139 non-null  int64
 10  quality_7   684139 non-null  object
 11  quality_8   684139 non-null  object
 12  quality_9   684139 non-null  object
 13  quality_10  684139 non-null  object
 14  quality_11  684139 non-null  int64
 15  quality_12  684139 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(7), object(6)
memory usage: 88.7+ MB

- quality0,2,5에서 nan값을 갖고 있는 행 제거

In [34]:
f_qual.groupby(['user_id','fwver'])['user_id'].count()

user_id  fwver
10000    05.15.2138    24
10002    05.15.2138    96
10004    04.22.1750    24
10005    04.22.1750    24
10006    04.16.3553    12
                       ..
24992    04.22.1750    36
24993    05.15.2138    24
24995    04.33.1261    24
24997    04.22.1750    12
         04.22.1778    12
Name: user_id, Length: 9569, dtype: int64

In [35]:
f_err.groupby(['user_id','fwver'])['user_id'].count()

user_id  fwver
10000    05.15.2138     317
10001    04.33.1185     379
         04.33.1261    1986
10002    05.15.2138     306
10003    04.33.1185      81
                       ...
24997    04.22.1750     465
         04.22.1778     361
24998    04.22.1750       8
         04.22.1778     147
24999    05.15.2138     570
Name: user_id, Length: 24062, dtype: int64

- f_err과 f_qual의 fwver의 종류는 같지만, 갯수가 다르기 때문에 단일 fwver을 갖지 않는 user_id에 대해서는 nan값을 대채할 수 없다.

In [36]:
#각 user_id의 fwver 갯수 확인 

counting=[]
l=[]
for i in range(1,len(f_err)):
    if f_err['user_id'].values[i]==f_err['user_id'].values[i-1]:
        if f_err['fwver'].values[i] not in l:
            l.append(f_err['fwver'].values[i])
    else:
        counting.append(len(l))
        l=[]

In [37]:
len(counting)

14999

In [38]:
# f_qual의 fwver이 counting이 1개인것 만 nan값 대신 fwver 값 변경

for i in range(len(f_qual)):
    if f_qual['fwver'].isna().values[i]:
        if counting[f_qual['user_id'].values[i]-10000]==1:
            a=f_qual['user_id'].values[i]
            f_qual['fwver'][i]=f_err[f_err["user_id"]==a]['fwver'].values[0]

In [39]:
# nan값 없어졌는지 확인

f_qual.isna().any()

time          False
user_id       False
fwver         False
quality_0     False
quality_1     False
quality_2     False
quality_3     False
quality_4     False
quality_5     False
quality_6     False
quality_7     False
quality_8     False
quality_9     False
quality_10    False
quality_11    False
quality_12    False
dtype: bool

- f_qual의 fwver은 각 user_id별로 1개의 fwver갖고 있는 것만 nan값을 해당 fwver로 변환
- 다중 fwver을 갖고 있는 user_id는 불확실하기에 fwver nan값이 있는 해당 행을 제거

# 3. 모델링전 전처리

### Target 생성

In [40]:
# total_user_id는 서로 다른 user_id갯수

total_user_id=len(f_err['user_id'].unique())
target=[0]*total_user_id

for i in f_prob.user_id.values:
    if target[i-10000]==0:
        target[i-10000]=1

In [139]:
len(target)

15000

In [142]:
target

[0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 ...]

In [150]:
# np로 변형후 reshape

r_target=np.array(target).reshape(len(target),-1)

r_target

array([[0],
       [1],
       [0],
       ...,
       [1],
       [1],
       [0]])

- 문제 신고가 됬으면 target에 1로 표시 없으면 0으로 표시함
- target은 list0부터14999까지가 user_id 10000부터 24999까지임
- reshape하여 target변수로써 기능을 할 수 있도록 재구성

### 상관관계 탐색

In [121]:
tmp_err=f_err.copy()

In [126]:
ALL_TARGET=[]

for i in f_err.user_id.values:
    if i in f_prob.user_id.unique():
        ALL_TARGET.append(1)
    else:
        ALL_TARGET.append(0)

In [127]:
tmp_err['TARGET']=ALL_TARGET

In [133]:
tmp_err

,user_id,time,model_nm,fwver,errtype,errcode,TARGET
0,10000,2020-11-01 02:56:16,model_3,05.15.2138,15,1,0
1,10000,2020-11-01 03:03:09,model_3,05.15.2138,12,1,0
2,10000,2020-11-01 03:03:09,model_3,05.15.2138,11,1,0
3,10000,2020-11-01 05:05:14,model_3,05.15.2138,16,1,0
4,10000,2020-11-01 05:05:15,model_3,05.15.2138,4,0,0
...,...,...,...,...,...,...,...
16554658,24999,2020-11-30 16:30:51,model_3,05.15.2138,15,1,0
16554659,24999,2020-11-30 17:26:25,model_3,05.15.2138,16,1,0
16554660,24999,2020-11-30 17:26:25,model_3,05.15.2138,4,0,0
16554661,24999,2020-11-30 17:26:31,model_3,05.15.2138,4,0,0
16554662,24999,2020-11-30 21:06:25,model_3,05.15.2138,15,1,0

In [141]:
# pearson보다 spearman 계수가 해당 데이터(순서형자료)에 맞다고 생각함

tmp_err.corr(method='pearson').style.background_gradient(cmap='coolwarm')

### feature 재정의

In [41]:
user=[]

for i in f_err.user_id.values:
    if i not in user:
        user.append(i)

In [48]:
x=pd.DataFrame(tmp_err['errtype'])
x

          errtype
0              15
1              12
2              11
3              16
4               4
...           ...
16554658       15
16554659       16
16554660        4
16554661        4
16554662       15

[16554662 rows x 1 columns]

In [76]:
# id에 f_prob의 id만 넣음
# t_time에 f_prob의 id에서 같을 경우 최초 시간 기준(시간이 더 짧은것)으로 생성 

id=[]
t_time=[]
for idx,t in f_prob[['user_id','time']].values:
    if idx not in id:
        id.append(idx)
        t_time.append(t)
    else:
        if t_time[id.index(idx)]>t:
            t_time[id.index(idx)]=t

In [81]:
col_list=['user_id','time']
col_data={'user_id':id,
         'time':t_time}

r_prob=pd.DataFrame(col_data,columns=col_list)
r_prob

      user_id                time
0       19224 2020-11-02 20:00:00
1       23664 2020-11-16 14:00:00
2       15166 2020-11-14 13:00:00
3       12590 2020-11-08 21:00:00
4       15932 2020-11-03 21:00:00
...       ...                 ...
4995    20167 2020-11-25 12:00:00
4996    16270 2020-11-10 12:00:00
4997    19114 2020-11-06 23:00:00
4998    21505 2020-11-04 11:00:00
4999    18822 2020-11-02 12:00:00

[5000 rows x 2 columns]

In [136]:
errtype_feature=[]
tmp=[0]*41
        
for i in range(1,len(f_err)):
    if f_err.user_id.values[i] in id:
        if f_err['user_id'].values[i]==f_err['user_id'].values[i-1]:
            if f_err.time.values[i]<=t_time[id.index(f_err.user_id.values[i])]:
                if f_err.errtype.values[i]<29:
                    tmp[f_err.errtype.values[i]-1]+=1
                else:
                    tmp[f_err.errtype.values[i]-2]+=1
            else:
                tmp=tmp
        else:
            errtype_feature.append(tmp)
            tmp=[0]*41
            if f_err.errtype.values[i]<29:
                tmp[f_err.errtype.values[i]-1]+=1
            else:
                tmp[f_err.errtype.values[i]-2]+=1
    else:
        if tmp_err['user_id'].values[i]==tmp_err['user_id'].values[i-1]:
            if f_err.errtype.values[i]<29:
                tmp[f_err.errtype.values[i]-1]+=1
            else:
                tmp[f_err.errtype.values[i]-2]+=1
        else:
            errtype_feature.append(tmp)
            tmp=[0]*41
            if f_err.errtype.values[i]<29:
                tmp[f_err.errtype.values[i]-1]+=1
            else:
                tmp[f_err.errtype.values[i]-2]+=1
                
errtype_feature.append(tmp)

In [158]:
r_feature=np.array(errtype_feature)
r_feature

array([[ 0,  0,  8, ...,  0,  0,  0],
       [ 0,  0,  0, ..., 74, 28,  0],
       [ 0,  0,  2, ...,  0,  0,  0],
       ...,
       [ 0,  0,  0, ..., 36,  0,  0],
       [ 0,  0,  0, ...,  2,  0,  0],
       [ 0,  0,  4, ...,  0,  0,  0]])

# 4. 모델링

In [160]:
trainX=r_feature
trainY=r_target
print(trainX.shape)
print(trainY.shape)

(15000, 41)
(15000, 1)

In [162]:
# Support vector machine

from sklearn.svm import SVC

svm = SVC(kernel='rbf',C=10,gamma=0.1,random_state=0)

In [163]:
### 교차검증

from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score

kfold=KFold(n_splits=5)
n_iter=0
r_accuracy=[]

for train_index, test_index in kfold.split(r_feature):
    X_train, X_test=r_feature[train_index],r_feature[test_index]
    Y_train, Y_test=r_target[train_index],r_target[test_index]
    
    svm.fit(X_train,Y_train)
    pred=svm.predict(X_test)
    n_iter+=1
    
    accuracy=np.round(accuracy_score(Y_test,pred),4)
    train_size=X_train.shape[0]
    test_size=X_test.shape[0]
    print('{0} 교차검증 정확도 :{1}, 학습 데이터 크기:{2}, 검증 데이터 크기:{3}'.format(n_iter,accuracy,train_size,test_size))
    
    r_accuracy.append(accuracy)
    
print('\n 평균검증 정확도:',np.mean(r_accuracy))

C:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

1 교차검증 정확도 :0.6883, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

2 교차검증 정확도 :0.6803, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

3 교차검증 정확도 :0.688, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

4 교차검증 정확도 :0.6787, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

5 교차검증 정확도 :0.674, 학습 데이터 크기:12000, 검증 데이터 크기:3000

 평균검증 정확도: 0.68186

In [164]:
# 결정트리를 사용하여 정확도 확인

from sklearn.tree import DecisionTreeClassifier

dtree=DecisionTreeClassifier(random_state=0)

In [165]:
### 교차검증

from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score

kfold=KFold(n_splits=5)
n_iter=0
r_accuracy=[]

for train_index, test_index in kfold.split(r_feature):
    X_train, X_test=r_feature[train_index],r_feature[test_index]
    Y_train, Y_test=r_target[train_index],r_target[test_index]
    
    dtree.fit(X_train,Y_train)
    pred=dtree.predict(X_test)
    n_iter+=1
    
    accuracy=np.round(accuracy_score(Y_test,pred),4)
    train_size=X_train.shape[0]
    test_size=X_test.shape[0]
    print('{0} 교차검증 정확도 :{1}, 학습 데이터 크기:{2}, 검증 데이터 크기:{3}'.format(n_iter,accuracy,train_size,test_size))
    
    r_accuracy.append(accuracy)
    
print('\n 평균검증 정확도:',np.mean(r_accuracy))

1 교차검증 정확도 :0.7993, 학습 데이터 크기:12000, 검증 데이터 크기:3000
2 교차검증 정확도 :0.8067, 학습 데이터 크기:12000, 검증 데이터 크기:3000
3 교차검증 정확도 :0.809, 학습 데이터 크기:12000, 검증 데이터 크기:3000
4 교차검증 정확도 :0.7893, 학습 데이터 크기:12000, 검증 데이터 크기:3000
5 교차검증 정확도 :0.7937, 학습 데이터 크기:12000, 검증 데이터 크기:3000

 평균검증 정확도: 0.7996

In [170]:
# KNN을 사용하여

from sklearn.neighbors import KNeighborsClassifier

best_k=[0,0]
for i in range(2,11):
    knn = KNeighborsClassifier(n_neighbors=i)
    
    
    kfold=KFold(n_splits=5)
    n_iter=0
    r_accuracy=[]

    for train_index, test_index in kfold.split(r_feature):
        X_train, X_test=r_feature[train_index],r_feature[test_index]
        Y_train, Y_test=r_target[train_index],r_target[test_index]
    
        knn.fit(X_train,Y_train)
        pred=knn.predict(X_test)
        n_iter+=1
    
        accuracy=np.round(accuracy_score(Y_test,pred),4)
        train_size=X_train.shape[0]
        test_size=X_test.shape[0]
        print('{0} 교차검증 정확도 :{1}, 학습 데이터 크기:{2}, 검증 데이터 크기:{3}'.format(n_iter,accuracy,train_size,test_size))
    
        r_accuracy.append(accuracy)
        
        if best_k[0]<np.mean(r_accuracy):
            best_k[0]=np.mean(r_accuracy)
            best_k[1]=i

print('k={0} \n 평균검증 정확도:{1}'.format(best_k[1],best_k[0]))

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

1 교차검증 정확도 :0.7637, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

2 교차검증 정확도 :0.7597, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

3 교차검증 정확도 :0.7687, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

4 교차검증 정확도 :0.7557, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

5 교차검증 정확도 :0.7563, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

1 교차검증 정확도 :0.777, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

2 교차검증 정확도 :0.773, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

3 교차검증 정확도 :0.7757, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

4 교차검증 정확도 :0.7743, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

5 교차검증 정확도 :0.7623, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

1 교차검증 정확도 :0.7837, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

2 교차검증 정확도 :0.777, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

3 교차검증 정확도 :0.7823, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

4 교차검증 정확도 :0.7793, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

5 교차검증 정확도 :0.773, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

1 교차검증 정확도 :0.7793, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

2 교차검증 정확도 :0.7783, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

3 교차검증 정확도 :0.783, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

4 교차검증 정확도 :0.7783, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

5 교차검증 정확도 :0.7773, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

1 교차검증 정확도 :0.7877, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

2 교차검증 정확도 :0.7877, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

3 교차검증 정확도 :0.789, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

4 교차검증 정확도 :0.783, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

5 교차검증 정확도 :0.7753, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

1 교차검증 정확도 :0.7817, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

2 교차검증 정확도 :0.7873, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

3 교차검증 정확도 :0.7883, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

4 교차검증 정확도 :0.783, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

5 교차검증 정확도 :0.7707, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

1 교차검증 정확도 :0.7807, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

2 교차검증 정확도 :0.7837, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

3 교차검증 정확도 :0.7917, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

4 교차검증 정확도 :0.7817, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

5 교차검증 정확도 :0.7737, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

1 교차검증 정확도 :0.775, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

2 교차검증 정확도 :0.788, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

3 교차검증 정확도 :0.793, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

4 교차검증 정확도 :0.7823, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

5 교차검증 정확도 :0.776, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

1 교차검증 정확도 :0.7783, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

2 교차검증 정확도 :0.789, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

3 교차검증 정확도 :0.7917, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

4 교차검증 정확도 :0.7837, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

5 교차검증 정확도 :0.7753, 학습 데이터 크기:12000, 검증 데이터 크기:3000
k=6
 평균검증 정확도:0.7881333333333332

In [171]:
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB()

In [172]:
### 교차검증

from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score

kfold=KFold(n_splits=5)
n_iter=0
r_accuracy=[]

for train_index, test_index in kfold.split(r_feature):
    X_train, X_test=r_feature[train_index],r_feature[test_index]
    Y_train, Y_test=r_target[train_index],r_target[test_index]
    
    nb.fit(X_train,Y_train)
    pred=nb.predict(X_test)
    n_iter+=1
    
    accuracy=np.round(accuracy_score(Y_test,pred),4)
    train_size=X_train.shape[0]
    test_size=X_test.shape[0]
    print('{0} 교차검증 정확도 :{1}, 학습 데이터 크기:{2}, 검증 데이터 크기:{3}'.format(n_iter,accuracy,train_size,test_size))
    
    r_accuracy.append(accuracy)
    
print('\n 평균검증 정확도:',np.mean(r_accuracy))

1 교차검증 정확도 :0.6817, 학습 데이터 크기:12000, 검증 데이터 크기:3000
2 교차검증 정확도 :0.6777, 학습 데이터 크기:12000, 검증 데이터 크기:3000
3 교차검증 정확도 :0.687, 학습 데이터 크기:12000, 검증 데이터 크기:3000
4 교차검증 정확도 :0.674, 학습 데이터 크기:12000, 검증 데이터 크기:3000
5 교차검증 정확도 :0.6653, 학습 데이터 크기:12000, 검증 데이터 크기:3000

 평균검증 정확도: 0.67714

C:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [198]:
from sklearn.ensemble import StackingClassifier
import lightgbm


def get_stacking():
    level0=[]
    level0.append(('svm',svm))
    level0.append(('knn',KNeighborsClassifier(n_neighbors=6)))
    level0.append(('dtree',dtree))
    
    level1=lightgbm.LGBMClassifier(n_estimators=400,learning_rate=0.1,max_depth=3)
    
    model=StackingClassifier(estimators=level0, final_estimator=level1,cv=3)
    
    return model

stack=get_stacking()

In [206]:
### 교차검증

from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score

kfold=KFold(n_splits=5)
n_iter=0
r_accuracy=[]

for train_index, test_index in kfold.split(r_feature):
    X_train, X_test=r_feature[train_index],r_feature[test_index]
    Y_train, Y_test=r_target[train_index],r_target[test_index]
    
    stack.fit(X_train,Y_train)
    pred=dtree.predict(X_test)
    n_iter+=1
    
    accuracy=np.round(accuracy_score(Y_test,pred),4)
    train_size=X_train.shape[0]
    test_size=X_test.shape[0]
    print('{0} 교차검증 정확도 :{1}, 학습 데이터 크기:{2}, 검증 데이터 크기:{3}'.format(n_iter,accuracy,train_size,test_size))
    
    r_accuracy.append(accuracy)
    
print('\n 평균검증 정확도:',np.mean(r_accuracy))

C:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

1 교차검증 정확도 :0.9993, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

2 교차검증 정확도 :0.9983, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

3 교차검증 정확도 :0.9993, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

4 교차검증 정확도 :0.9987, 학습 데이터 크기:12000, 검증 데이터 크기:3000

C:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

5 교차검증 정확도 :0.7937, 학습 데이터 크기:12000, 검증 데이터 크기:3000

 평균검증 정확도: 0.9578599999999999

# 5. 테스트 Case 결과 확인

In [175]:
f_test=pd.read_csv(PATH+'test_err_data.csv')

In [176]:
f_test.head(5)

   user_id            time model_nm       fwver  errtype errcode
0    30000  20201101030227  model_1  04.16.3553       31       1
1    30000  20201101030227  model_1  04.16.3553       33       2
2    30000  20201101030228  model_1  04.16.3553       15       1
3    30000  20201101030256  model_1  04.16.3553       22       1
4    30000  20201101030300  model_1  04.16.3553       11       1

In [177]:
f_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16532648 entries, 0 to 16532647
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   time      int64
 2   model_nm  object
 3   fwver     object
 4   errtype   int64
 5   errcode   object
dtypes: int64(3), object(3)
memory usage: 756.8+ MB

In [188]:
len(f_test.user_id.unique())

14998

In [179]:
f_test.errtype.unique()

array([31, 33, 15, 22, 11, 12, 23, 26, 16, 17,  5, 39, 24, 40, 36, 37, 32,
       42, 14, 18, 25, 20, 35,  6,  7,  4,  3, 13, 27, 28, 41, 34, 38,  1,
        8, 21, 19,  2, 10, 30,  9], dtype=int64)

In [180]:
test_errtype_feature=[]
test_tmp=[0]*41
        
for i in range(1,len(f_test)):
    if f_test['user_id'].values[i]==f_test['user_id'].values[i-1]:
        if f_test.errtype.values[i]<29:
            test_tmp[f_test.errtype.values[i]-1]+=1
        else:
            test_tmp[f_test.errtype.values[i]-2]+=1

    else:
        test_errtype_feature.append(test_tmp)
        test_tmp=[0]*41
        if f_test.errtype.values[i]<29:
            test_tmp[f_test.errtype.values[i]-1]+=1
        else:
            test_tmp[f_test.errtype.values[i]-2]+=1

test_errtype_feature.append(test_tmp)

In [189]:
r_test_feature=np.array(test_errtype_feature)
r_test_feature.shape

(14998, 41)